IMGURDEX_PUBLIC_URL=

DOCKER_POSTGRES_PORT=

MINIO_ROOT_USERNAME=
MINIO_ROOT_PASSWORD=

POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

RABBITMQ_ROOT_USERNAME=
RABBITMQ_ROOT_PASSWORD=

GRAFANA_ROOT_USERNAME=
GRAFANA_ROOT_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
