DOCKER_MINIO_PORT=
DOCKER_MINIO_CONSOLE_PORT=
DOCKER_POSTGRES_PORT=
DOCKER_RABBITMQ_PORT=
DOCKER_RABBITMQ_CONSOLE_PORT=
DOCKER_GRAFANA_PORT=
DOCKER_BACKEND_PORT=

MINIO_ROOT_USERNAME=
MINIO_ROOT_PASSWORD=

POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

RABBITMQ_ROOT_USERNAME=
RABBITMQ_ROOT_PASSWORD=

GRAFANA_ROOT_USERNAME=
GRAFANA_ROOT_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
